/* IMAGES */
body {
    background: #000 url("../styles/images/background.png") center center no-repeat !important;
    background-size: cover !important;
} 

::-webkit-input-placeholder {
   color: #333;
   opacity: 0.7;
}

:-moz-placeholder { /* Firefox 18- */
   color: #333;  
    opacity: 0.7;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #333;  
    opacity: 0.7;
}

:-ms-input-placeholder {  
   color: #333;  
    opacity: 0.7;
}

h2 {
    font-family: "Roboto" !important;
    font-weight: 300 !important;
    font-size: 18px !important;
    margin: 0 !important;
}

/* LOGIN VIEW STYLES */
#tabstrip-login .login-form {
    position: absolute;
    left: 30px;
    right: 30px;
    bottom: 50px;
}

#tabstrip-login .login-button {
    width: 100% !important;
    height: 60px !important;
    background-color: transparent !important;
    border: 1px solid #FFF;
    border-radius: 0  !important;
    
    margin-top: 15px;
    
    font-family: "Roboto";
    font-size: 20px !important;
    font-weight: 300 !important;
    font-style: italic !important;
    //line-height: 90px !important;
    text-align: center !important;
    vertical-align: middle !important;
    color: #FFF  !important;
}

#tabstrip-login .km-widget.km-listview.km-list {
    margin: 0 !important;
    padding: 0 !important;
}

#tabstrip-login .km-widget.km-listview.km-list li {
    margin-bottom: 5px !important;
    padding: 0 15px !important;
    height: 60px !important;
}

.km-flat .km-list>li {
    border: 0 !important;
    box-shadow: none !important;
	-webkit-box-shadow: none !important;
}

#tabstrip-login .km-widget.km-listview.km-list li input { 
    font-family: "Roboto";
    font-size: 18px !important;
    font-weight: 300 !important;
    font-style: italic !important;
    
    left: 15px;
    width: 90% !important;
    //top: 35%;
	//padding: 0 !important;
	//margin: 0 15px !important;
}

.logout-button {
    color: #FFF;
    //margin-top: 30px;
	margin-left: 30px;
	font-family: Roboto;
	font-style: italic;
    position: absolute;
    bottom: 15px;
}


/* START VIEW STYLES */
#top-list {
    width: 100%;
	padding-bottom: 0;
}

#top-list li {
    width: 49.999999%;
    float: left;
    padding-right: 2.5px !important;
}

#top-list li:last-child {
    padding-right: 0 !important;
    padding-left: 2.5px !important;
}

#user-image {
    width: 100% !important;
    min-height: 85px;
    background-size: contain;
    margin-top: 0 !important;
    background-position-x: center;
}

#top-list li {
    background: none;
    height: auto;
}

#top-list .list-item {
    background-color: #f6f6f6;
}

#top-list .list-item .list-image {
     float: none;
 	margin: 0 auto;
 	//margin-top: 15px;
    
    width: 70px;
    height: 120px;
    //height: 70px;
    
    width: 100% !important;
	background-size: contain;
    
    background-color: transparent !important;
    background-repeat: no-repeat;
    background-position: center;
    
    background-color: transparent !important;
}

#top-list .list-item .list-detail {
    background-color: #FFF;
	padding: 10px;
	font-size: 12px;
	//margin-top: 15px;
    
    font-style: normal;
    
    line-height: 16px;
}

#home-userId {
   white-space: nowrap;
	overflow: hidden;
}

#home-score,
#matches-today-open-bets {
    font-weight: 600;
}

#top-list .km-listview-link:after {
    display: none;
}

#start-list {
    padding-top: 0;
}

#start-list li {
    width: 100%;
}

p {
    margin: 0 !important;
    padding: 0 !important;
}


/* SCORING VIEW */
#tabstrip-score .content-container {
    //position: absolute;
    text-align: center;
    padding: 30px;
}

#tabstrip-score .scoring-details {
    color: #FFF;
    font-size: 20px;
    font-family: Roboto !important;
    font-weight: 100;
    margin-top: 30px;
}

#score-value {
    color: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    font-weight: 100 !important;
    font-family: "Roboto" !important;
    font-size: 48px;
    margin-top: -20px;
    margin-left: -40px;
}


/* PW RESET VIEW */
#tabstrip-pwreset .pwreset-form {
    position: absolute;
	left: 30px;
	right: 30px;
	bottom: 30px;
}


#tabstrip-pwreset .content-container {
    padding: 30px;
    color: #FFF !important;
    font-weight: 300 !important;
    font-family: "Roboto" !important;
}

#tabstrip-pwreset .content-container ul {
    padding: 0;
    margin: 15px 0;
}

#tabstrip-pwreset .pwrest-button {
    width: 100% !important;
    height: 60px !important;
    background-color: transparent !important;
    border: 1px solid #FFF;
    border-radius: 0  !important;
    
    margin-top: 0;
    
    font-family: "Roboto";
    font-size: 20px !important;
    font-weight: 300 !important;
    font-style: italic !important;
    text-align: center !important;
    vertical-align: middle !important;
    color: #FFF  !important;
}

#tabstrip-pwreset .km-widget.km-listview.km-list li input { 
    font-family: "Roboto";
    font-size: 18px !important;
    font-weight: 300 !important;
    font-style: italic !important;
    left: 15px;
    width: 90% !important;
}

#tabstrip-pwreset .km-widget.km-listview.km-list {
    margin: 0 !important;
    padding: 0 !important;
}

#tabstrip-pwreset .km-widget.km-listview.km-list li {
    margin-bottom: 15px !important;
    padding: 0 15px !important;
    height: 60px !important;
}










/* INFO VIEW */
#tabstrip-infos .content-container {
    padding: 20px;
	color: #FFF !important;
    font-weight: 300 !important;
    font-family: "Roboto" !important;
}

#tabstrip-infos .content-container .image-container {
    background-color: #FFF;
    margin-bottom: 30px;
    padding: 30px;
}

#tabstrip-infos .content-container img {
    width: 100%;
    height: auto;
}


/* RULES VIEW */
#tabstrip-rules .content-container {
    padding: 20px;
    color: #FFF !important;
    font-weight: 300 !important;
    font-family: "Roboto" !important;
}

#tabstrip-rules .content-container ul {
    padding: 0;
    margin-top: 40px;
}

#tabstrip-rules .content-container ul li {
    list-style: none;
    margin-bottom: 30px;
}

#tabstrip-rules .content-container ul li strong {
    line-height: 40px;
}

#tabstrip-rules table {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: left;
}

#tabstrip-rules table td { 
    font-size: 14px;
}


/* THEME */
[href*=index], #back-button
{
    visibility: hidden;
}

.km-flat, .km-flat .km-navbar, .km-flat .km-content {
    background: none;
    
    font-family: "Roboto" !important;
    font-weight: 300;
    color: #333 !important;
}

.km-flat .km-header .km-navbar {
    background-color: #96aa39;
}

.km-flat .km-navbar {
    border: 0 !important;
}

.km-navbar .km-view-title {
    text-align: left;
    color: #FFF;
    margin-left: 15px;
    padding: 5px 0;
    
    font-family: "Roboto";
    font-weight: 300;
    font-style: italic;
}

.km-widget.km-listview.km-list {
    //margin: 15px;
    padding: 15px;
}

.km-widget.km-listview.km-list li {
    margin-bottom: 5px !important;
    height: 90px;
    //line-height: 90px !important;
    padding: 0 !important;
    background-color: rgba(255, 255, 255, 0.7);
    font-style: italic;
    border-radius: 0 !important;
}

.km-widget.km-listview.km-list li.major {
    background-color: #c94a43 !important;
    color: #FFF;
}

.km-flat .km-listview-link:after {
    color: #333;
    right: 2rem;
}

.km-flat .major .km-listview-link:after {
    color: #FFF;
}

.list-item h2 {
    line-height: 90px !important;
    vertical-align: middle !important;
    display: inline-block !important;
    margin-left: 10px !important;
}

.list-item .list-image {
    background-size: 100%;
    display: block;
    float: left;
    width: 90px;
    height: 90px;
    background-color: rgba(0,0,0,0.1);
}

.score-group .list-item h2 {
    position: absolute;
    text-align: center !important;
    margin-left: 0 !important;
    margin-top: 10px !important;
    font-size: 14px !important;
	width: 90px;
    display: block !important;
    line-height: normal !important;
}

.score-group .km-widget.km-listview.km-list li {
    height: 110px;
    
    -webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	-ms-transition: height 0.3s;
	-o-transition: height 0.3s;
	transition: height 0.3s;
}

.score-group .list-item .list-image {
    margin-top: 20px !important;
    background-color: transparent !important;
}

.score-group .list-item .right-side {
    float: right;
}

.score-group .list-item .left-side {
    float: left;
}

.score-group .list-item .game-info {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 13px;
}

.score-group .list-item .voting-container {
    width: 100%;
    text-align: center;
    //margin-bottom: 10px;
}

.score-group .list-item .voting-container input {
    position: relative;
    height: 40px;
    max-width: 50px !important;
	min-width: 30px !important;
    background-color: #FFF;
    text-align: center;
    margin: 0 !important;
    padding: 0 !important;
    font-style: normal;
	font-weight: 500;
}

.score-group .list-item .voting-container.game-live {
    opacity: 0.3;
}

.score-group .list-item .game-info .live-label {
    color: #c94a43;
    font-weight: 600;
    font-weight: 600;
    font-style: normal;
    font-size: 12px;
    margin-top: 5px;
}

.score-group .list-item .vote-button {
    border: 0;
    border-radius: 0;
    background-color: #c94a43;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #FFF !important;
    margin-bottom: 10px;
}

#teamOne {
    margin-right: 20px !important;
}

#teamTwo {
    //right: 15px;
}

.score-group .list-item .button-container {
    position: absolute;
	bottom: 15px;
	width: 100%;
    text-align: center;
    opacity: 0;
    
    -webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	-ms-transition: opacity 0.3s;
	-o-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

#voteButton {
	border: 0;
    border-radius: 0;
    background-color: #c94a43;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #FFF !important;
}

#chancelButton {
    border-radius: 0;
    border: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}

.km-scroll-container {
    //-webkit-transition-duration: 300ms;
}

.score-group .list-item .game-info .game-result,
.score-group .list-item .game-info .game-tip {
    font-style: normal;
    font-size: 24px;
    font-weight: 100;
    //display: inline-block;
}

.score-group .list-item .game-info .game-result .game-user-bet.tip-error {
    color: #c94a43 !important;
    font-weight: 300;
}

.score-group .list-item .game-info .game-result .game-user-bet.tip-success {
    color: #96aa39 !important;
    font-weight: 300;
}

.score-group .list-item .game-info .game-result .game-user-bet tip-tendency {
    font-weight: 300;
}

.score-group .list-item .game-info .game-result .result-nv {
    font-size: 14px;
    font-weight: 500;
}

.score-group .list-item .game-info .game-date {
    font-size: 11px;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 15px;
}

.score-group .list-item .game-info .saved-label {
    color: #c94a43;
    font-weight: 600;
    font-weight: 600;
    font-style: normal;
    font-size: 12px;
    margin-top: 5px;
}

.ranking-group .list-item h2 {
    position: absolute;
    text-align: center !important;
    margin-left: 0 !important;
    margin-top: 10px !important;
    font-size: 14px !important;
	width: 90px;
    display: block !important;
    line-height: normal !important;
}

.ranking-group .km-widget.km-listview.km-list li {
    height: 110px !important;
}

.ranking-group .list-item .list-image {
    margin-top: 20px !important;
    background-color: transparent !important;
}

/* RANKING VIEW */
#ranking-top-list {
    width: 100%;
	padding-bottom: 0;
}

#ranking-top-list li {
    width: 33.33333%;
    float: left;
    padding-left: 2.5px !important;
    padding-right: 2.5px !important;
}

#ranking-top-list li:first-child {
    padding-left: 0 !important;
}

#ranking-top-list li:last-child {
    padding-right: 0 !important;
}


#ranking-top-list li {
    background: none;
    height: auto;
}

#ranking-top-list .list-item {
	background-color: #f6f6f6;
}

#ranking-top-list .list-item .list-image {
     float: none;
 	//margin: 0 auto;
 	//margin-top: 15px;
    
    width: 100%;
    //height: 90px;
    
    background-color: transparent;
    background-position: center top;
    background-size: cover;
    background-color: transparent;
}

#ranking-list .list-item h2 {
    line-height: 70px !important;
}

#ranking-top-list .list-item .list-detail {
    background-color: #FFF;
	padding: 10px;
	font-size: 12px;
	//margin-top: 15px;
    
    font-style: normal;
}

#ranking-top-list .list-item .list-detail .user-name {
	white-space: nowrap;
	overflow: hidden;
}

#ranking-top-list .list-item .list-detail .user-score {
	font-size: 12px;
    font-style: normal;
    font-weight: 600;
    display: inline-block;
}

#ranking-top-list .list-item .list-detail .user-ranking {
    font-size: 12px;
    font-weight: 600;
    display: inline-block;
    float: right;
}

#ranking-top-list .km-listview-link:after {
    display: none;
}

#ranking-list {
    padding-top: 0;
}

#ranking-list li {
    height: 70px;
    float: left;
	width: 100%;
}

#ranking-list .list-item .list-image {
    width: 32%;
    //height: 70px;
    background-position: center;
	background-size: contain;
    display: none;
}

#ranking-list .list-item .user-data {
    //margin-left: 37%;
    margin-left: 15px;
    margin-right: 15px;
	padding-top: 13px;
}

#ranking-list .list-item .user-data .user-name {
    font-size: 20px;
    font-weight: 300;
    display: inline-block;
    white-space: nowrap;
	overflow: hidden;
    max-width: 80%;
}

#ranking-list .list-item .user-data .user-ranking {
    font-size: 20px;
    font-weight: 300;
    display: inline-block;
    float: right;
}

#ranking-list .list-item .user-data .user-score {
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
}

#match-list .no-matches {
    color: #FFF;
    padding: 30px;
}

.table {
    float: right;
    width: 65%;
    text-align: center;
    border-spacing: 10px;
    margin-right: 5px;
}

.table th {
    font-size: 14px;
}

.table td {
    font-size: 20px;
}


.km-flat .km-switch-handle,
.km-flat .k-slider-selection,
.km-flat .km-switch-background
{
    color: #96aa39;
}

.km-flat .km-scroller-pull {
	left: 50%;
	margin: 0 0 0 -25px;
    background-color: #333 !important;
}

.km-flat .km-loader,
.km-flat .km-rowinsert,
.km-flat .km-state-active,
.km-flat .km-scroller-pull,
.km-flat .k-slider-selection,
.km-flat .km-touch-scrollbar,
.km-flat .km-pages .km-current-page,
.km-flat .k-slider .k-draghandle,
.km-flat .k-slider .k-draghandle:hover,
.km-flat .km-scroller-refresh.km-load-more,
.km-flat .km-popup .k-state-hover,
.km-flat .km-popup .k-state-focused,
.km-flat .km-popup .k-state-selected,
.km-flat .km-actionsheet > li > a:active,
.km-flat .km-actionsheet > li > a:hover,
.km-flat li.km-state-active .km-listview-link,
.km-flat li.km-state-active .km-listview-label,
.km-flat .km-listview-label input[type=radio]:checked,
.km-flat .km-listview-label input[type=checkbox]:checked
{
    background: #505050;
}

.km-flat .km-tabstrip .km-state-active {
    background-color: rgba(255, 255, 255, 0.7);
}

.km-flat .km-filter-wrap > input:focus
{
    border-color: #96aa39;
}

.km-navbar .km-leftitem {
    float: left;
    position: relative;
    padding: 5px 0;
} 

#backbutton {
    background-color: transparent;
    border: 0;
}

.km-badge {
    right: 0 !important;
}

.km-back:before {
    content: " ";
    display: inline-block!important;
    color: #FFF;
    width: .8em;
    height: .8em;
    border-width: 0;
    -webkit-box-shadow: inset .25rem -0.25rem 0 #007aff;
    box-shadow: inset .25rem -0.25rem 0 #FFF;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.km-scroller-pull .km-template {
    color: #FFF !important;
    font-size: 16px;
    display: none;
}

.sub-navigation .km-button {
	//padding: 0 !important;
	background: rgba(0,0,0,0) !important;
	border: 0;
	border-radius: 0 !important;
	-moz-border-radius: 0 !important;;
	-webkit-border-radius: 0 !important;
}

.sub-navigation {
	border-bottom: 1px solid #FFF;
    padding: 10px 0;
}

.sub-navigation .selected-button {
    font-weight: 900;
}

.sub-navigation a {
    //margin: 0 15px !important;
    //padding: 0 15px !important;
    color: #FFF !important;
    text-decoration: none;
    font-weight: 300;
    font-family: "Roboto" !important;
    font-size: 14px;
    border: 0;
    background: none !important;
    border-right: 1px solid #FFF !important;
    padding: 0 15px 0 10px !important;
}

.sub-navigation a:first-child {
    padding: 0 15px !important;
}

.sub-navigation a:last-child {
    border-right: 0 !important;
}


/* iOS 6 */
.km-ios6 *:not(.km-tabstrip):not(.km-buttongroup)>.km-button, 
.km-tablet .km-ios *:not(.km-tabstrip):not(.km-buttongroup)>.km-button { 
    background-image: none !important;
}
